#projects {
  background-color: #222222;
  padding-top: 100px;
  margin: auto;
}
#projects > h1 {
  color: #4aae54;
  font-size: 70px;
  line-height: 33.6px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-card-wrapper {
  margin-top: 20px;
}
.proj-card-wrapper > div {
  /* border: 1px solid blue; */
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 850px) {
  .proj-card-wrapper > div {
    min-height: 70vh;
  }
}
