#skills {
  background-color: #222222;
  min-height: 100vh;

  padding: 60px;
  padding-bottom: 0px;
  padding-right: 0;
  box-sizing: border-box;
  margin-top: -10px;
  /* margin-bottom: 40px; */
}
#skills > h2 {
  font-size: 70px;
  margin-bottom: 20px;
}
#calen {
  max-width: 80vw;
}
#calendiv {
  margin: auto;
}

#skills > h2,
.git-details > h1 {
  text-align: center;
  color: #4aae54;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 600;
  font-size: 70px;
  color: #4aae54;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
.skills-prog-cont > h2 {
  color: #4aae54;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.skills-wrapper {
  background-color: #222222;
  max-width: 80%;
  height: auto;
  margin: auto;

  margin-bottom: 50px;
}
.skills-prog-cont {
  padding: 50px;
  z-index: 10;
}
.skills-prog-div {
  display: flex;

  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  z-index: 100;
  background-color: #222222;
}

.stat-img-div {
  /* border: 1px solid red; */
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.stat-img-div > img {
  width: 400px;
  z-index: 10;
  background-color: white;
}
.git-details {
  /* margin-bottom: 40px; */
  margin-top: 60px;
}
.git-state-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: white;
}
.git-state-div > div {
  margin-bottom: 20px;
}
.git-state-div > div:nth-child(2) > img {
  margin-right: 40px;
}

.github-maindiv {
  background-color: white;
  width: 100%;
  margin-bottom: -20px;
}
.skills-card {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 10px;
  text-align: center;
  color: #6e6e6e;
  font-size: 17px;
  line-height: 22.5px;
  font-weight: 400;
  z-index: 10;
  background-color: #222222;
}
.stat-card-skills {
  width: fit-content;
  margin: auto;
}
.stat-divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.stat-divs > img {
  margin-bottom: 20px;
  width: 85%;
  z-index: 10;
  background-color: white;
}

@media only screen and (max-width: 1330px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (max-width: 900px) {
  .stat-img-div {
    flex-direction: column;
  }
  .stat-img-div > img {
    margin: auto;
  }
  .stat-divs > img {
    margin-bottom: 20px;
    width: 95%;
  }
}

@media only screen and (max-width: 750px) {
  .skills-prog-cont > h2 {
    text-align: center;
  }
  .git-details > h1 {
    font-size: 50px;
    text-align: center;
  }

  .stat-divs > img {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .git-details > h1 {
    font-size: 40px;
  }
  .git-state-div > div {
    margin-bottom: 0px;
  }
  .stat-divs > img {
    margin-bottom: 10px;
    width: 70%;
  }
  .skills-wrapper {
    max-width: 95%;

    margin-bottom: 0px;
  }
  #skills {
    padding: 30px;
  }
}
