#about {
  background-color: white;
  padding-left: 30px;
}
.about-wrapper {
  height: auto;
  min-height: 100vh;
}
.into-cont {
  margin: 0 auto;
}

.about-heading {
  /* border: 1px solid green; */
  text-align: center;
}
.into-cont {
  display: flex;
  flex-direction: row-reverse;
}
.about-heading > h2 {
   text-align: center;
  color: #4aae54;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 600;
  font-size: 70px;
  color: #4aae54;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}
.about-l-r {
  display: flex;
}
.about-wrap-left {
  flex: 1;
 
}
.about-wrap-right {
  max-width: 85%;
  margin: auto;
}
.right-img {
  width: fit-content;
  margin: auto;
  z-index: 20;
}
.right-img > img {
  width: 220px;
}
.about-wrap-left {
  display: flex;
  padding: 30px;
  padding-right: 0px;
  border: 1px solid black;
  justify-content: right;
  flex-direction: column;
  align-items: center;
}


.main-accordian {
  width: 80%;
  margin: auto;
}
.accor-div {
  margin: 10px;
}
.szh-accordion__item-btn {
  font-size: 20px;
  padding: 10px;
  color: #4aae54;
  width: 100%;
  background-color: #221e1e;
  border-radius: 10px;
}
.about-heading {
  font-size: 20px;
  color: #4aae54;
}

.abt-flx {
  display: flex;
  margin: auto;
  margin-top: 50px;
}
.abt-lft {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 150px;
  z-index: 20;
}
.abt-rht {
  flex: 1;
  z-index: 20;
  background-color: white;
}

.about-skill {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 25px 35px;
  gap: 10px;
  align-items: center;
}

.abt-skill-cont > p {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}
.abt-skill-cont > p:nth-child(1) > span {
  color: #4aae54;
}
.right-des {
  margin: auto;
  width: 75%;
  margin-top: 40px;
  z-index: 20;
}
.right-des > p {
  width: 90%;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
  text-align: center;
  font-family: "Koulen", cursive;
  color: #222222;
}

section {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion > input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  /* width: 600px; */
  max-width: 500px;
  /* min-width: 200px; */
  margin: 0 auto;
}
.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: #222222;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgba(4, 57, 94, 1);

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p {
  margin: 0;
  color: #222222;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
  font-family: "Koulen", cursive;
}

input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}

@media only screen and (max-width: 1000px) {
  .abt-flx {
    flex-direction: column;
    width: fit-content;
  }
  .abt-lft {
    padding-bottom: 50px;
  }
  .right-des {
    width: 90vw;
  }
  .about-wrap-right {
    max-width: 95%;
    margin: auto;
  }
  .right-des > p {
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .into-cont {
    flex-direction: column;
    margin-top: 30px;
  }
  .right-des > p {
    margin: auto;
  }
}
@media only screen and (max-width: 600px) {
  .abt-lft {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
  }
  .about-skill {
    justify-content: center;
  }
  .main-accordian {
    width: 85vw;
  }
  #about {
    padding-left: 0px;
  }
  .about-wrap-right {
    max-width: 95%;
    margin: auto;
  }
}
