.about-wrapper {
  /* border: 2 px solid green; */

  height: auto;
  min-height: 100vh;
}
#about {
  background-color: white;
}
.about-heading {
  /* border: 1px solid green; */
  text-align: center;
}
.about-l-r {
  /* border: 1px solid black; */
  display: flex;
}
.about-wrap-left {
  flex: 1;
  background-color: white;
}
.about-wrap-right {
  /* flex: 2.5; */
  /* background-color: blanchedalmond; */
  max-width: 85%;
  margin: auto;
}
.right-img {
  /* display: inline; */
  /* border: 1px solid red; */
  width: fit-content;
  margin: auto;
}
.right-img > img {
  width: 250px;
}
.about-wrap-left {
  /* max-width: 90%; */
  display: flex;
  padding: 30px;
  padding-right: 0px;

  border: 1px solid black;
  justify-content: right;

  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.about-wrap-left > div {
  /* border: 1px solid green; */
}

.main-accordian {
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
  /* gap: 20px; */
}
.accor-div {
  /* border: 3px solid #68d372; */
  margin: 10px;
  /* border-radius: 20px; */
  /* font-size: larger; */
  /* width: 40%; */
}
.szh-accordion__item-btn {
  font-size: 20px;
  padding: 10px;
  color: #68d372;
  width: 100%;
  background-color: #221e1e;
  border-radius: 10px;
  /* padding: 10px 40px; */
}
.about-heading {
  font-size: 20px;
  color: #68d372;
}

.abt-flx {
  display: flex;
  /* max-width: 90%; */
  margin: auto;
  margin-top: 50px;
  /* padding-bottom: 50px; */
  /* padding: 100px; */

/* border: 1px solid black; */

}
.abt-lft {
  flex: 1;
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding-bottom: 150px;

  
}
.abt-rht {
  flex: 1;
  /* border: 1px solid blue; */
}

.about-skill {
  display: flex;
  /* border: 3px solid black; */
  /* justify-content:; */
  width: 100%;
  margin: auto;
  /* padding: 20px; */
  padding: 25px 35px;
  gap: 10px;

  align-items: center;

  /* margin-bottom: 10px; */
  /* height: 150px; */

  /* flex-direction: column; */
}
.abt-skill-cont {
    /* border: 1px solid red; */
}

.abt-skill-cont > p {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}
.abt-skill-cont > p:nth-child(1) > span {
  color: #68d372;
}
.right-des {
  /* border: 1px solid red; */
  /* padding: 0px 30px; */
  margin: auto;
  width: 60%;
  margin-top: 40px;
}
.right-des > p {
  width: 100%;
  margin: auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  text-align: center;
  font-family: "Koulen", cursive;
  color: #222222;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 600px;
  margin:0 auto;
}
.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
}
.accordion:last-child{
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: #222222;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
/* .accordion-label:hover {
  background: #68D372;
} */
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: rgba(4,57,94,1);
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p{
  margin: 0;
  color: black;
  font-size: 18px;
  text-align:left;
  margin-bottom: 5px;
}
/* input:checked + .accordion-label {
  background: #68D372;
} */
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}

@media only screen and (max-width: 1000px) {
  .abt-flx{
    flex-direction: column;

  }
  .abt-lft {
    padding-bottom: 50px;

  }
  .right-des {
    width: 80vw;

  }

}
@media only screen and (max-width: 600px) {
  .abt-lft {
    flex: 1;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-bottom: 40px;
  
    
  }
  .about-skill {
    justify-content: center;

  }
  .main-accordian {
    width: 85vw;
  }
  

}


