
#contact {
  height: auto;
  padding: 50px;
  /* border: 1px solid red; */
  box-sizing: border-box;
  background-color: white;
  /* margin-top: 100px; */
  padding-top: 100px;
  /* background-color: aquamarine; */
}
.form-div {
  display: flex;
  /* background-color: aqua; */
  /* border: 1px solid black; */
  /* padding: 50px; */
}
.contact-heading {
  /* border: 1px solid red; */
  text-align: center;
  height: auto;
}
.contact-heading > h2 {
  font-weight: 800;
  line-height: 57.6px;
  font-size: 48px;
  color: #68d372;
  padding: 10px;
  position: relative;
  /* text-decoration: underline; */
}
/* .contact-heading > h2::before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #222222;

  top: 50%;
  left: 58%;
  width: 350px;
}
.contact-heading > h2::after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 3px solid #222222;

  top: 50%;
  right: 58%;
  width: 350px;
} */

.form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: auto;
  width: 550px;
  background-color: white;
  /* padding: 50px; */
}
.form > input {
  background-color: white;
  border-bottom: 1px solid grey;
}
.form > textarea {
  border-bottom: 1px solid grey;
}
.form > * {
  margin-bottom: 10px;
  /* border: 1px solid black; */
}
.send_btn {
  border: 1px solid red;
  width: fit-content;
  margin: auto;
  padding: 12px 44px;
}
.contact-content {
  display: flex;
  border: 1px solid black;
  /* background-color: rgb(178, 153, 200); */
  justify-content: center;
  margin: auto;
  gap: 70px;
  padding: 80px;
  width: fit-content;
  box-sizing: border-box;
}
.contact-img > img {
  width: 350px;
}
.our-button {
  margin: auto;
  /* border: 1px solid rgb(115, 131, 115); */
}

@media only screen and (max-width: 1212px) {
  #contact{
    padding: 30px;
  }
  .contact-content{
    padding: 30px;
    gap: 15px;
  }
 
}
@media only screen and (max-width: 1012px) {
  .contact-img {
    display: none;
  }
  .form{
    width: 400px;
  }

 
}