#contact {
  height: auto;
  box-sizing: border-box;
  background-color: white;
  padding-right: 0;
  padding-bottom: 0;
}
.form-div {
  display: flex;
}
.contact-heading {
  text-align: center;
  height: auto;
  padding-top: 50px;
}
.p-tag {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: auto;
  /* border: 1px solid red; */
  justify-content: space-around;
}
.contact-heading > h2 {
  text-align: center;
  color: #4aae54;
  font-size: 26px;
  line-height: 33.6px;
  font-weight: 600;
  font-size: 70px;
  color: #4aae54;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
}
.form > input {
  border-bottom: 1px solid grey;
  width: 400px;
}
.form > textarea {
  border-bottom: 1px solid grey;
  width: 400px;
}
.form > * {
  margin-bottom: 10px;
}
.send_btn {
  border: 1px solid red;
  width: fit-content;
  margin: auto;
  padding: 12px 44px;
}
.contact-content {
  display: flex;
  border: 1px solid black;

  justify-content: space-around;
  margin: auto;
  gap: 70px;
  /* padding: 20px 50px; */
  padding: 20px;
  width: fit-content;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.contact-img > img {
  width: 350px;
}
.our-button {
  margin: auto;
}

.footer-links {
  /* border: 1px solid black; */
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.contat-social > a {
  margin-right: 10px;
}

.vertLine::after {
  content: "";
  width: 0;
  height: 110px;
  position: absolute;
  border: solid #68d372;
  left: 50%;
  transform: translateY(-120px);
}
.footer-getInTouch {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  background-color: #222222;
  color: white;
  margin-top: -30px;
}
.footer-getInTouch > * {
  margin-bottom: 10px;
}
.footer-getInTouch > h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #4aae54;
}
.footer-getInTouch > h4 {
  font-size: 22px;
  line-height: 26.6px;
  font-weight: 600;
  color: #4aae54;
}
.footer-getInTouch > p {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 0;
}
.footer-madeWithLove {
  background-color: #222222;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: white;
}

.footer-getInTouch > div > p,
.footer-getInTouch > div > a {
  color: grey;
  margin-bottom: 8px;
}
.footer-getInTouch > div > p:hover,
.footer-getInTouch > div > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1212px) {
  .contact-content {
    gap: 15px;
  }
}
@media only screen and (max-width: 1012px) {
  .contact-img {
    display: none;
  }
  .form {
    width: 400px;
  }
  .contact-heading > h2 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 720px) {
  .footer-links {
    width: 100%;
  }
  .contact-heading > h2 {
    font-size: 50px;
  }
  .form {
    width: 80vw;
    /* margin: 20px; */
  }
  .form > input {
    width: 80vw;
  }
  .form > textarea {
    width: 80vw;
  }

  .contat-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 520px) {
  .footer-links {
    width: 100%;
  }
  .contat-social,
  .get-touch {
    display: none;
  }
}

@media only screen and (max-width: 465px) {
  .contact-content {
    padding: 10px;
  }
}
