.sidebar-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  /* border: 1px solid red; */
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
.sidebar-div > a {
  margin-bottom: 70px;
}
.sidebar-div > a > img {
  width: 40px;
}
.aTag1:hover {
  scale: 1.2;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 1000px) {
  .sidebar-div {
    padding: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .sidebar-div {
    display: none;
  }
}
