.sidebar-div{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    /* border: 1px solid red; */
    padding: 25px;
    align-items: center;
    justify-content: center;
   margin-top: -10px;
    

}
.sidebar-div > a {
    margin-bottom: 70px;
}
.sidebar-div > a > img{
    width: 40px;
}

@media only screen and (max-width: 1400px) {
    .sidebar-div{
        display: none;
    }
    
  }